.css-pmxsec .exg6vvm15 {
    margin-top: -13%;
    background-color: transparent;
  }
  .css-9ycgxx {
    display: none;
  }
  .css-1aehpvj {
    display: none;
  }
  .css-1prua9e {
    margin-top: -8%;
  }
  .css-hxt7ib {
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .css-ocqkz7 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    gap: 32px;
  }
  .css-1vq4p4l {
    padding: 1rem 1rem 1.5rem;
  }
  .css-k1vhr4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    -webkit-box-align: center;
    align-items: center;
    background-color: #476d99;
    color: white;
  }
  
  .css-6qob1r {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: overlay;
    background-color: #d7d7d7;
  }
  .css-18ni7ap {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2.875rem;
    background: #476d99;
    outline: none;
    z-index: 999990;
    display: block;
  }
  .css-629wbf {
    background: #476d99;
    border: 2px solid #476d99;
    color: white;
    font-size: large;
  }
  .css-629wbf:hover {
    background-color: white;
    color: #476d99;
    border-color: #476d99;
  }
  .css-629wbf:active {
    background-color: white;
    color: #476d99;
    border-color: #476d99;
  }
  /* .st-bn{
          background-color: #476d99;
      } */
  .css-k1vhr4 h1 {
    color: white;
  }
  
  .css-1dp5vir {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 0.125rem;
    z-index: 999990;
    display: none;
  }
  
  .css-h5rgaw {
    display: none;
  }
  .e1fb0mya1 .css-fblp2m .ex0cdmw0 {
    background-color: transparent;
  }
  
  .css-ocqkz7 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    gap: 32px;
    margin-top: -5%;
  }
  
  .css-pmxsec .exg6vvm5 {
    max-width: inherit;
    flex: 1 1 0%;
    align-items: flex-start;
    margin-bottom: -0.5rem;
  }
  
  label {
    font-size: larger;
    font-weight: bolder;
  }
  .css-164nlkn {
    display: none;
  }
  h1{
    padding: 0px;
  }
  .css-10y5sf6{
  color: #476d99;
  }
  
  .st-c6 {
    padding-right: 0.5rem;
    background-color: white;
  }
  
  .css-10trblm {
    position: relative;
    flex: 1 1 0%;
    color: white;
    margin-left: calc(3rem);
  }
  
  